[submodule "src/decoder"]
	path = src/decoder
	url = https://github.com/LogicRL/state-decoding-CNN.git
[submodule "RLAgents"]
	path = src/RLAgents
	url = https://github.com/LogicRL/RLAgents.git
[submodule "model_weights"]
	path = model_weights
	url = https://github.com/LogicRL/model_weights.git
[submodule "annotated_data"]
	path = annotated_data
	url = https://github.com/LogicRL/annotated_data.git
